<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Nbu Project</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="styles.css">

<body>
    <div class="container">
        <table class="table center">
            <thead>
                <tr>
                    <th></th>
                    <th>Година</th>
                    <th>Домакин</th>
                    <th>Град</th>
                    <th>Брой участващи университети</th>
                    <th>Източник</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1 МТП (10)</td>
                    <td>1998</td>
                    <td>АУБ</td>
                    <td>Благоевград</td>
                    <td></td>
                    <td>Красимир Манев</td>
                </tr>
                <tr>
                    <td>1 МТП (11)</td>
                    <td>1999</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>1 МТП (12)</td>
                    <td>2000</td>
                    <td>АУБ</td>
                    <td>Благоевград</td>
                    <td>6</td>
                    <td>http://infoman.musala.com/contests/139/1145/</td>
                </tr>
                <tr>
                    <td>1 МТП (12)</td>
                    <td>2001</td>
                    <td>НБУ</td>
                    <td>София</td>
                    <td>6</td>
                    <td>http://computerworld.bg/3143_studenti_meriha_sili_po_programirane</td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="script.js"></script>
</body>

</html>