<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Nbu Project</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="styles.css">

<body>
    <div class="container">
        <table class="table center">
            <thead>
                <tr>
                    <th>Класирания</th>
                    <th>№ на отбор </th>
                    <th>Участници</th>
                    <th>Ръководител</th>
                    <th>E-mail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1. Софийски университет "Св. Климент Охридски"</td>
                    <td>СУ-1</td>
                    <td>
                        1. Милослав Антониев Средков <br>
                        2. Петко Георгиев Минков <br>
                        3. Кирил Георгиев Минков
                    </td>
                    <td>Красимир Манев</td>
                    <td></td>
                </tr>
                <tr>
                    <td>1. Софийски университет "Св. Климент Охридски"</td>
                    <td>СУ-2</td>
                    <td>
                        1. Цветан Красимиров Богданов <br>
                        2. Петър Стефанов Лефтеров <br>
                        3. Петър Живков Петров
                    </td>
                    <td>Красимир Манев</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="script.js"></script>
</body>

</html>