<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Nbu Project</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="styles.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">


<body>
    <header>
        <nav class="text-center">
            <ul>
                <li><a href="/index.html">Олимпиади</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <table class="table center">
            <thead>
                <tr>
                    <th>№ на отбор </th>
                    <th>Университет</th>
                    <th>Участници</th>
                    <th>Ръководител</th>
                    <th>Решени Задачи</th>
                    <th>Време</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>СУ-1</td>
                    <td>СУ</td>
                    <td>
                        1. Милослав Антониев Средков <br>
                        2. Петко Георгиев Минков <br>
                        3. Кирил Георгиев Минков
                    </td>
                    <td>Красимир Манев</td>
                    <td>8</td>
                    <td>908</td>
                </tr>
                <tr>
                    <td>СУ-2</td>
                    <td>СУ</td>
                    <td>
                        1. Цветан Красимиров Богданов <br>
                        2. Петър Стефанов Лефтеров <br>
                        3. Петър Живков Петров
                    </td>
                    <td>Красимир Манев</td>
                    <td>8</td>
                    <td>910</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <p>Made by F86778 & F98223</p>
    </footer>

    <script src="script.js"></script>
</body>

</html>